<div class="logo">
    <a href="https://insdosl.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/insdo-icon.png"/>
        </div>
        CV chatbot
    </a>
</div>
<div class="sidebar-wrapper">
    <div *ngIf="isMobileMenu()">
        <ul class="nav navbar-nav nav-mobile-menu">
        </ul>
    </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]" (click)="clickSubBtn($event, 'chat_nav', 'dropdown1')">
                <i class="material-icons">{{menuItem.icon}}</i>
                <span>{{menuItem.title}}</span>
                <i class="material-icons dropdown-arrow dropdown1" *ngIf="menuItem.dropdown" style="float: right; margin-right: -5px;">keyboard_arrow_down</i>
            </a>
            <ul class="nav subnav chat_nav" *ngIf="menuItem.path === '/chat' && isChatRoute" style="display: none;">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" (click)="clickSubBtn($event, 'conv_nav', 'dropdown2');">
                        <i class="material-icons">list</i>
                        <span>Conversations</span>
                        <i class="material-icons dropdown-arrow dropdown2" *ngIf="conversations.length > 0" style="float: right; margin-right: -5px;">keyboard_arrow_down</i>
                    </a>
                    <ul class="nav subnav conv_nav" *ngIf="conversations.length > 0" style="display: none;">
                        <li class="nav-item" *ngFor="let conversation of conversations">
                            <a class="nav-link" href="javascript:void(0)" (click)="selectConversation(conversation.conversation_id)"
                               [ngClass]="{'selected-conversation': selectedConversationId === conversation.conversation_id}">
                                <i class="material-icons">chat</i>
                                <p>{{ conversation.name }}</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" (click)="createNewConversation()">
                        <i class="material-icons">add</i>
                        <p>New Chat</p>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
