.drop-list {
  border: 2px dashed #ccc;
  padding: 20px;
  text-align: center;
  background: #fafafa;
  cursor: pointer;
}

.uploaded-files .file-card {
  margin-top: 10px;
}

.card-body.d-flex {
  display: flex;
  align-items: center; /* Alinea verticalmente los ítems al centro */
}

.card-body .file-details {
  flex-grow: 1; /* Ocupa todo el espacio horizontal disponible */
  margin-right: 10px; /* Espaciado entre el texto y el botón */
}

.card-body button {
  margin-left: auto; /* Alinea el botón a la derecha */
}

.delete-button {
  background-color: #ffffff;
  border: 2px solid #942BAE;  
  color: #942BAE;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  outline: none; /* Elimina el borde del enfoque */
}

.delete-button:hover {
  background-color: #ffffff;
  border: 2px solid red;  
  color: red;
}

.delete-button .material-icons {
  font-size: 20px;
}

.main-content {
  margin-top: 30px;
}

.btn-fill {
  background-color: #942BAE;
  color: white;
  
  &:hover {
    background-color: darken(#942BAE, 10%);
  }
}

.disabled-button {
  pointer-events: none; /* Desactiva cualquier interacción del usuario */
  cursor: not-allowed; /* Cambia el cursor a 'no permitido' */
  opacity: 0.5; /* Reduce la opacidad para que se vea deshabilitado */
}

.disabled-button:hover {
  background-color: inherit; /* Mantiene el color de fondo original en hover */
}








