<!-- upload.component.html -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card" [class.disabled]="uploading">
          <div class="card-header card-header-icon card-header-primary">
            <div class="card-icon">
              <i class="material-icons">cloud_upload</i>
            </div>
            <h4 class="card-title">Upload PDF</h4>
          </div>
          <div class="card-body">
            <div class="drop-list" 
                 (dragover)="onDragOver($event)" 
                 (drop)="onDrop($event)"
                 (click)="!uploading && fileInput.click()"
                 [ngClass]="{'disabled-button': uploading}">
              <p>Drag and drop files here or click to select files</p>
              <input type="file" #fileInput (change)="handleFileInput($event.target.files)" multiple hidden>
            </div>
            <div class="uploaded-files">
              <div *ngFor="let file of files; let i = index" class="card file-card">
                <div class="card-body d-flex align-items-center">
                  <p class="file-details flex-grow-1 mb-0">{{ file.name }} ({{ file.size | fileSize }})</p>
                  <button mat-icon-button (click)="removeFile(i)" aria-label="Remove file" class="delete-button" [disabled]="uploading" [ngClass]="{'disabled-button': uploading}">
                    <i class="material-icons">delete</i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex">
            <button mat-raised-button color="primary" (click)="uploadFiles()" class="btn btn-fill" [disabled]="uploading">Upload</button>
            <div class="stats d-flex align-items-center" *ngIf="uploading">
              <mat-progress-spinner [diameter]="30" mode="indeterminate" ></mat-progress-spinner>
              <span class="ml-2">Uploading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
